nav.navigation{

	.avatar{
		border-radius: 50%;
		background-size:cover;
		background-repeat : no-repeat;
		background-position :center center;
		width:35px;
		height:35px;
		display: inline-block;
		position : relative;
		top: 9px;
	    right: 8px;
	}
}