import Model from './Model';

class {{Model}} extends Model {

	constructor(data) {
		super();

		this.attributes = {{attributes}};

		//Fill your data 
		this.fill(data);

		this.rules_for_create = {};
		this.rules_for_update = {};
	}

	{{setgetters}}
}

export
default {{Model}};